<h1>Editing person_graph</h1>

<% form_for(@person_graph) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </p>
  <p>
    <%= f.label :graph_id %><br />
    <%= f.text_field :graph_id %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @person_graph %> |
<%= link_to 'Back', person_graphs_path %>
