<p>
  <b>Person:</b>
  <%=h @person_graph.person_id %>
</p>

<p>
  <b>Graph:</b>
  <%=h @person_graph.graph_id %>
</p>

<p>
  <b>Position:</b>
  <%=h @person_graph.position %>
</p>


<%= link_to 'Edit', edit_person_graph_path(@person_graph) %> |
<%= link_to 'Back', person_graphs_path %>
