<h1>Editing person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :birth_date %><br />
    <%= f.date_select :birth_date,
					:start_year => 10.years.ago.year,
					:end_year => 100.years.ago.year %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<p>
	<b>Stats</b>

	<% sort_list @person, :person_stats do |pstat| -%>
		<b><%=h pstat.stat.name %></b>
		<%= collection_update pstat, :unit_id, pstat.stat.units, :id, :long_name %>
		<%= link_to 'del', pstat, :confirm => 'Sure?', :method => :delete %>
	<% end -%>

	<% form_for(:person_stat, :url => person_stats_path) do |f| -%>
		<%= f.label :stat_id %>
		<%= f.collection_select :stat_id, @person.unused_stats,
					:id, :name, :prompt => true %>
		<%= f.hidden_field :person_id, :value => @person.id %>
		<%= f.submit 'Add' %>
	<% end -%>

</p>


<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
