<h1>Editing person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :birth_date %><br />
    <%= f.date_select :birth_date,
					:start_year => 10.years.ago.year,
					:end_year => 100.years.ago.year %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<p>
	<b>Stats</b>

	<ul>
	<% @person.person_stats.each do |pstat| -%>
		<li>
			<%=h pstat.stat.name %>
    	<%= link_to 'Destroy', pstat,
						:confirm => 'Are you sure?',
						:method => :delete %>
		</li>
	<% end -%>
	</ul>

	<% form(new_stat_path) do -%>
		<%= collection_select 
	<% end -%>


</p>


<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
