<h1>Editing unit_pref</h1>

<% form_for(@unit_pref) do |f| %>
  <%= f.error_messages %>

	<p>
		<%= f.label :stat_id %><br />
		<%=h @unit_pref.stat.name %>
	</p>
  <p>
    <%= f.label :unit_id %><br />
    <%= f.collection_select :unit_id, @units, :id, :long_name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @unit_pref %> |
<%= link_to 'Back', unit_prefs_path %>
