<p>
  <b>User:</b>
  <%=h @unit_pref.user.login %>
</p>

<p>
  <b>Unit:</b>
  <%=h @unit_pref.unit.long_name %>
</p>

<p>
	<b>Stat:</b>
	<%=h @unit_pref.stat.name %>
</p>


<%= link_to 'Edit', edit_unit_pref_path(@unit_pref) %> |
<%= link_to 'Back', unit_prefs_path %>
