<h1>Logs for <%= link_to @person.name, @person %></h1>
<% table = @person.table -%>

<% form_tag do %>
	<%= text_field_tag 'quick' %>
	<%= submit_tag 'add' %>
<% end %>

<br/>
<% stats = @person.stats.visible -%>

<table class="measurements">
	<tr>
		<th>Day</th>
	<% stats.each do |stat| -%>
		<th><%= link_to stat.name.capitalize, "/stats/plot/#{stat.id}.svg" %></th>
	<% end -%>
	</tr>
<% table.each_row do |day,row| -%>
	<tr>
		<td><b><%=h day %></b></td>
	<% row.each_with_index do |measurements,i| %>
		<% unit = stats[i].unit -%>
		<td><%= measurements.map {|m| m.display(unit)}.join("<br/>") %></td>
	<% end -%>
	</tr>
<% end -%>
</table>
