<h1>Logs for <%= link_to @person.name, @person %></h1>
<% table = @person.table -%>

<% form_tag do |f| %>
	<%= text_field_tag 'quick' %>
	<%= submit_tag 'add' %>
<% end %>

<table class="measurements">
	<tr>
		<th>Day</th>
	<% @person.person_stats.visible.each do |pstat| -%>
		<th><%=h pstat.stat.name.capitalize %></th>
	<% end -%>
	</tr>
<% table.each_row do |day,row| -%>
	<tr>
		<td><%=h day %></td>
	<% pstats = @person.person_stats.visible -%>
	<% row.each_with_index do |measurements,i| %>
		<% unit = pstats[i].unit -%>
		<td><%= measurements.map {|m| m.display(unit)}.join("<br/>") %></td>
	<% end -%>
	</tr>
<% end -%>
</table>
