<h1>New measurement</h1>

<% form_for(@measurement) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :stat_id %><br />
    <%= f.collection_select :stat_id, Stat.find(:all), :id, :name %>
  </p>
  <p>
    <%= f.label :person_id %><br />
    <%= f.collection_select :person_id, Person.find(:all), :id, :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', measurements_path %>
