<h1>Listing stats</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Dimension</th>
		<th>Unit</th>
		<th>Decimal Places</th>
		<th>Summary Mode</th>
		<th>Visible</th>
  </tr>

<% for stat in @stats %>
  <tr>
    <td><%=h stat.name %></td>
    <td><%=h stat.dimension.name %></td>
    <td><%h stat.unit ? stat.unit.long_name : '(none)' %></td>
		<td><%=h stat.decimal_places %></td>
    <td><%=h stat.summary_mode ? stat.summary_mode.name : '(none)' %></td>
    <td><%=h stat.visible? %></td>
    <td><%= link_to 'Show', stat %></td>
    <td><%= link_to 'Edit', edit_stat_path(stat) %></td>
    <td><%= link_to 'Destroy', stat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New stat', new_stat_path %>
