<p>
  <b>Name:</b>
  <%=h @stat.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @stat.description %>
</p>

<p>
  <b>Dimension:</b>
  <%=h @stat.dimension.name %>
</p>

<p>
	<b>Default Unit:</b>
	<%=h @stat.unit.long_name %>
</p>

<p>
	<b>Decimal Places:</b>
	<%=h @stat.decimal_places %>
</p>

<p>
	<b>Summary Mode:</b>
	<%=h @stat.summary_mode.name %>
</p>

<p>
	<b>Visible:</b>
	<%=h @stat.visible? %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', @person %>
